.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.font {
  font-weight: bold;
  background: linear-gradient(129.39deg, #A776D4 29.78%, #7ED2DD 45.28%, #DFDBBD 60.78%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  font-weight: 400;
}
